<div class="container">
    <div class="card-header m-5 p-5">
        <h1 class="display-6">
            GD #5 - Uptime monitor
            <a href="https://github.com/VicAnto99/GD-5---Uptime-monitor" class="btn btn-primary active">
                GITHUB
            </a>
        </h1>
    </div>
    <div class="card-group ">
        <div class="card">
          <img style="border-radius: 100%; height: 50%" src="https://scontent.flov1-1.fna.fbcdn.net/v/t1.6435-9/157195694_3984482428278356_3816948673754117837_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEFZC8jw7zG8gx6CDtJcVAvY06Hh-Kd1R5jToeH4p3VHlE7clwGRYn6CG1CP0BlpO_MXfwEBzTY-DitvXsJmXJi&_nc_ohc=pKeMyboKzUAAX9aMx-f&_nc_ht=scontent.flov1-1.fna&oh=49986497809616b23cf34d5d9cd5ab38&oe=61C23261" class="card-img-top" alt="Diego">
          <div class="card-body">
            <h5 class="card-title">Diego Ramírez Levy</h5>
            <p class="card-text">A013677771</p>
            <p class="card-text"><small class="text-muted">FRONTEND</small></p>
            <a href="https://www.instagram.com/eldi.98/?hl=es-la" class="btn btn-primary m-6">Instagram</a>
            <a href="https://www.facebook.com/diego.ramirezlevy" class="btn btn-primary m-3">Facebook</a>
            <a href="https://github.com/ElDi046" class="btn btn-primary m-6">Github</a>
          </div>
        </div>
        <div class="card">
          <img style="border-radius: 100%; height: 50%" src="https://scontent.flov1-1.fna.fbcdn.net/v/t1.6435-1/p200x200/118321496_3294337507309675_3767924180879726991_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeFdIzk4HJlT30Z1eV_4LRBZIzeno5s_eXojN6ejmz95eg--WpjvOi3WsM4qZ7F6KQbv0x0RS4elQ91zEtC1qZVf&_nc_ohc=ZjzPGUNzf2sAX9hhycf&_nc_ht=scontent.flov1-1.fna&oh=f8b761b5dae304ad690696f9ca0eea1e&oe=61C14634" class="card-img-top" alt="Omar">
          <div class="card-body">
            <h5 class="card-title">Omar Alejandro Robledo Rodríguez</h5>
            <p class="card-text">A01338010</p>
            <p class="card-text"><small class="text-muted">BACKEND</small></p>
            <a href="https://www.instagram.com/omaralex_ro/?hl=es-la" class="btn btn-primary m-6">Instagram</a>
            <a href="https://www.facebook.com/omar.alejandro.75248" class="btn btn-primary m-3">Facebook</a>
            <a href="https://github.com/OmarAlexDev" class="btn btn-primary m-6">Github</a>
          </div>
        </div>
        <div class="card">
          <img style="border-radius: 100%; height: 50%" src="https://scontent.flov1-1.fna.fbcdn.net/v/t1.6435-9/107819117_3261579247234498_750580050870648136_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHEbLqeptsR_q63RnCOTyXcQFahymmVP5dAVqHKaZU_lxGfMuEDNXtXggfoMAD0kIdPwfQo-4FJ-JWrmJCLXeld&_nc_ohc=X9IAyVnoxS0AX86mV0_&tn=OP53KWijcMPhv4e3&_nc_ht=scontent.flov1-1.fna&oh=f16b3841aabe021a1a1b8d69d8758386&oe=61C2A4C4" class="card-img-top" alt="Raúl">
          <div class="card-body">
            <h5 class="card-title">Raúl González Cardona</h5>
            <p class="card-text">A01654995</p>
            <p class="card-text"><small class="text-muted">FRONTEND AND BACKEND</small></p>
            <a href="https://www.instagram.com/_raulglez_/?hl=es-la" class="btn btn-primary m-6">Instagram</a>
            <a href="https://www.facebook.com/raultg2" class="btn btn-primary m-3">Facebook</a>
            <a href="https://github.com/Raul5412" class="btn btn-primary m-6">Github</a>
          </div>
        </div>
        <div class="card">
            <img style="border-radius: 100%; height: 50%;" src="https://scontent.flov1-1.fna.fbcdn.net/v/t1.6435-9/122071796_3762587633793548_1555745230964038414_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeE9-oFyF6-AwAKV8nNKeObn7oXJhrkvfRLuhcmGuS99EpO5YYndCqFncze3MQcQ07McmO4fC3TxFLgfWOQXzYnA&_nc_ohc=iprTCeLbtXIAX_8RDwj&_nc_ht=scontent.flov1-1.fna&oh=01e39b728dc056810ae3a3af3a835669&oe=61C27B76" class="card-img-top" alt="Víctor">
            <div class="card-body">
              <h5 class="card-title">Víctor Antonio Godínez Rodríguez</h5>
              <p class="card-text">A01339529</p>
              <p class="card-text"><small class="text-muted">LEADER</small></p>
              <a href="https://www.instagram.com/vicagr/?hl=es-la" class="btn btn-primary m-6">Instagram</a>
              <a href="https://www.facebook.com/victorantonio.godinezrodiguez" class="btn btn-primary m-3">Facebook</a>
              <a href="https://github.com/VicAnto99" class="btn btn-primary m-6">Github</a>
            </div>
          </div>
      </div>
      <div class="row m-5">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-success m-2" routerLink="/login">LOGIN</button>
        </div>
      </div>
</div>