<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3 float-left">Record from Uptime Monitor</span>
            <button class="btn btn-dark btn-lg" style="margin-left: 50%;" routerLink="/setup">ADD UPTIME</button>
            <table class="table mt-3 table-striped">
                <thead>
                  <tr>
                    <th scope="col">URL</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">TIME</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Google.com</td>
                    <td>ON</td>
                    <td>11/11/2021</td>
                    <th><i class="far fa-trash-alt fa-lg text-danger"></i></th>
                  </tr>
                  <tr>
                    <td>Tec.com</td>
                    <td>ON</td>
                    <td>11/11/2021</td>
                    <th><i class="far fa-trash-alt fa-lg text-danger"></i></th>
                  </tr>
                  <tr>
                    <td>Facebook.com</td>
                    <td>ON</td>
                    <td>11/11/2021</td>
                    <th><i class="far fa-trash-alt fa-lg text-danger"></i></th>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>