<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3 float-left">Record from Uptime Monitor</span>
            <button class="btn btn-dark btn-lg" style="margin-left: 50%;" routerLink="/setup">ADD UPTIME</button>
            <table class="table mt-3 table-striped">
                <thead>
                  <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">URL</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">TIME</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let records of record">
                    <td>{{records.name}}</td>
                    <td>{{records.url}}</td>
                    <td>{{records.estado}}</td>
                    <td>{{records.dateCreate.toDate() | date: 'medium'}}</td>
                    <th><i (click)="deleteRecord(records.id)"class="far fa-trash-alt fa-lg text-danger"></i></th>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>